@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.logo {
  font-family:'Special Elite';
  font-size: var(--pst-font-size-h1);
  font-weight:400;
  font-style:normal;
  font-optical-sizing:auto;
  color: black;
/*  color: color(srgb 0.20 0.15 0.10);*/
/*  color: color(srgb 0.40 0.38 0.32);*/
}
