@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.bd-sidebar-primary {
    overflow: hidden;
}

.navbar-brand .logo__title {
  font-family:'Special Elite';
  font-size: var(--pst-font-size-h1);
  font-weight:500;
  font-style:normal;
  font-optical-sizing:auto;
  color: var(--pst-color-muted);
  margin-right: auto;
}

/* anything related to the dark theme */


html[data-theme="dark"]  {
  --pst-color-background: color(srgb 0.15 0.17 0.2);
  --logic1-color-sidebar: color(srgb 0.12 0.15 0.18);
  --logic1-color-border: color(srgb 0.30 0.34 0.38);
}

html[data-theme="dark"] .bd-sidebar-primary {
  border-right: 1.0px solid var(--logic1-color-border);
  background: var(--logic1-color-sidebar);
}

html[data-theme="dark"] .sidebar-secondary-item {
  border-left: 1.0px solid var(--logic1-color-border);
}

html[data-theme="dark"] footer.bd-footer-content {
  border-top: 1.0px solid var(--logic1-color-border);
}

html[data-theme="dark"] .bd-footer {
  border-top: 0.00px solid var(--logic1-color-border);
}
